@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    background-color: #0C0C0C;
    font-family: 'Poppins';
}

body{
    position: relative;
}

.main{
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0px 16px;
}

h1{
    color: #fff;
    text-align: center;
}

.btn{ 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 16px 0px;
    background-color: #0C0C0C;
    position: sticky;
    top: 0;
    z-index: 999;
}

button:active{
    opacity: .7;
    transition: .3s;
}

button{
    text-decoration: none;
    border: none;
    background-color: #27DFB3;
    padding: 7px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1rem;
}

img{
    height: 60px;
    width: 60px;
    background-color: #dadada;
    border-radius: 50%;
}

.container{
    width: 14rem;
    background-color: #353434;
    padding: 6px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    padding: 6px;
}

.profile{
    width: 100%;
}

h2{
    font-size: 20px;
    font-weight: 600;
}

h4{
    font-size: 11px;
    opacity: .8;
}

p{
    font-size: 12px;
    font-weight: 600;
    opacity: .7;
}

.email{
    margin-bottom: 1rem;
}