@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body{
  background-color: #f1faee;
  font-family: 'Poppins',Sans-Serif;
  color: #222222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

header #logo {
    text-decoration: none;
    font-size: 2rem;
    color: #3347ab;
}

header #logo:hover {
    text-decoration: none;
    color: #222222;
    transition: .6s;
}

/* Main page section */
.about-section {
    padding: 10px;
}

.aboutUs {
    padding-top: 30px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.brand-txt {
    padding: 10px;
}
h1  {
    color: black;
}

.font-bold {
    padding: 10px;
    font-weight: 1000;
}

.para {
    padding: 10px;
    color: #222222;
}

.section-2 {
    display: flex;
    justify-content: space-evenly;
}

#image {
    display: flex;
    background-size: cover;
    position: center;
    width: 100%;
    height: 700px;
    align-items: center;
}

/* Footer Section */
footer {
    background-color: #222222;
    /* border-radius: 10px; */
    width: 100%;
    margin-top: 20px;
}

footer h2 {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 2.5rem;
    padding-left: 10px;
    padding-top: 15px;
}

.footer-container {
    width: 100%;
    padding: 40px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 70px;
    font-size: 1.5rem;
    color: #fff;
    opacity: 0.7;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    color: #fff;
    opacity: 0.7;
}

.socialIcons a:hover {
    opacity: 1;
    color: #3347ab;
    transition: .8s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    list-style-type: none;
}

.footerNav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
    opacity: 0.7;
    transition: .5s;
}

.footerNav ul li a:hover {
    opacity: 1;
    color: #3347ab;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-bottom p {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
}

.footer-bottom a {
    color: #fff;
    opacity: 0.7;
    text-decoration: none;
}

.footer-bottom a:hover {
    opacity: 1;
    color: #3347ab;
    transition: .8s;
}