@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body{
  padding: 20px;
  background-color: #131314;
  font-family: 'Poppins',Sans-Serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigatoin Bar section */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  color: #222222;
}

#logo {
    text-decoration: none;
    color: #3347ab;
    font-size: 2rem;
}

#logo:hover {
    color: #fff;
    transition: .8s;
}

a {
  text-decoration: none;
  color: #eee;
}

a:hover {
  text-decoration: underline;
  color: #fff;
  transition: .5s;
}

.pages{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 25px;
  width: 100%;
  height: 1rem;
}

.pages a {
    text-decoration: none;
}

.pages a:hover {
    color: #3347ab;
    transition: 0.8s;
}

/* Main page section */
/* First image */
.hero h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 3rem;
    margin: 30px;
}

.hero-image img {
    background-size: cover;
    width: 100%;
}

/* Products section */
.shop-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px;
    margin-bottom: 30px;
}

.box {
    background-color: transparent;
    border-radius: 20px;
    height: 500px;
    width: 30%;
    gap: 20px;
}

.box-image {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    height: 410px;
    margin: 0.5rem;
}

.box-content {
    cursor: pointer;
    border: 2px solid #222222;
    text-decoration: none;
    border-radius: 10px;
}

.box-content a {
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.box-content a:hover {
    text-decoration: none;
    color: #3347ab;
    transition: .6s;
}


/* Image after products section */
.image {
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 80px;
}
  
.image img {
    background-size: cover;
    width: 100%;
}

/* Back to top section */
.top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    font-size: 1.5rem;
}

.top a {
    text-decoration: none;
}

.top a:hover {
    text-decoration: none;
    color: #3347ab;
    transition: .6s;
}


/* Footer Section */
footer {
    background-color: #222222;
    border-radius: 10px;
}
  
footer h2 {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 2.5rem;
    padding-left: 10px;
    padding-top: 15px;
}
  
.footer-container {
    width: 100%;
    padding: 40px 30px 20px;
}
  
.socialIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 70px;
    font-size: 1.5rem;
    color: #fff;
    opacity: 0.7;
}
  
.socialIcons a {
    text-decoration: none;
    padding: 10px;
}
  
.socialIcons a:hover {
    opacity: 1;
    color: #3347ab;
}
  
.footerNav {
    margin: 30px 0;
}
  
.footerNav ul {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    list-style-type: none;
}
  
.footerNav ul li a {
    color: #fff;
    /* margin: 20px; */
    text-decoration: none;
    font-size: 1.4rem;
    opacity: 0.7;
    transition: .5s;
}
  
.footerNav ul li a:hover {
    opacity: 1;
    /* font-size: 1.45rem; */
    color: #3347ab;
}
  
.footer-bottom {
    display: flex;
    justify-content: center;
    gap: 10px;
}
  
.footer-bottom p {
    color: #fff;
    font-size: 1rem;
}
  
.footer-bottom a {
    opacity: 0.7;
    text-decoration: none;
}
  
.footer-bottom a:hover {
    opacity: 1;
    color: #3347ab;
}