@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.main {
    min-height: 100vh;
    width: 100%;
    background-color: #3e4c59;
    padding: 0 3vw;
}

.head-text {
    padding: 1rem;
}

.head-text h3 {
    color: #cced00;
    font-size: 3vw;
    margin-bottom: 15px;
}

.head-text h2 {
    color: #c8d2dd;
    font-size: 2.5vw;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 1rem;
}

.box-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #323f4b;
    border-radius: 5px;
    cursor: pointer;
}

.box-content img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    margin-bottom: 8px;
}

.box-content p {
    color: #9aa5b1;
    font-size: 1.5vw;
    padding: 0.6vw 1vw;
    font-weight: 600;
    line-height: 5vh;
}

.box-content h2 {
    color: #c8d2dd;
    padding: 0.6vw 1vw;
}

.box-content button {
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    color: #cced00;
    padding: 1vw;
}

@media (width < 820px) {
    .box {
        display: flex;
        flex-direction: column;
    }

    main {
        padding: 0 1vw;
        min-height: 130vh;
        width: 100%;
    }

    .box-content p {
        font-size: 2.5vw;
        padding: 8px;
    }

    .head-text h3 {
        color: #cced00;
        font-size: 6vw;
        margin-bottom: 15px;
    }
    
    .head-text h2 {
        color: #c8d2dd;
        font-size: 4vw;
    }

    .box-content p {
        color: #9aa5b1;
        font-size: 3vw;
        padding: 10px;
        font-weight: 500;
        line-height: 4.25vh;
    }

    .box-content h2 {
        color: #c8d2dd;
        padding: 0 10px;
    }
    
}